<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav"
         style="background-color: var(--bs-white) !important;padding: 0px;border-bottom-style: solid;border-bottom-color: rgb(32,113,250);">
        <div class="container"><a class="navbar-brand" th:href="@{/}" style="color: var(--bs-blue);">FSSW</a>
            <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"
                    style="background: var(--bs-blue);margin: 10px;;"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="/roadmap" style="color: rgb(0,0,0);">선배의 눈높이 교육</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/curriculum" style="color: rgb(0,0,0);">학습 과정</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/findteam" style="color: rgb(0,0,0);">팀원 구하기</a></li>
                    <li class="nav-item"><a class="nav-link" href="/community" style="color: rgb(0,0,0);">커뮤니티 게시판</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/hotKeyword" style="color: rgb(0,0,0);">뜨거운 이슈</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/faq" style="color: rgb(0,0,0);">자주 묻는 질문</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" style="color: rgb(0,0,0);">로그인</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
